[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/submodules/fzf"]
	path = zsh/submodules/fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh/submodules/kubectl-aliases"]
	path = zsh/submodules/kubectl-aliases
	url = https://github.com/ahmetb/kubectl-aliases
