[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "zsh/submodules/fzf"]
	path = zsh/submodules/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "zsh/submodules/kubectl-aliases"]
	path = zsh/submodules/kubectl-aliases
	url = git@github.com:ahmetb/kubectl-aliases.git
[submodule "limelight"]
	path = limelight
	url = git@github.com:koekeishiya/limelight.git
