;; this is a little bit weird, but it's convenient
;; the rule [:!Ca :!T1]
;; means from command a to control 1
;; :!Ca is keycode :a and prefix a with !C

;; here's the definition

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
{
:templates {
    :launch "open -a '%s.app'"
    :alfred "osascript -e 'tell app \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"
    ;; :raycast "osascript -e 'tell app \"System Events\" to keystroke \" \" using {option down}' -e 'tell app \"System Events\" to keystroke \"%s\" & return'"
}
:simlayers {
    :vi-mode {:key :d}
    :launch-mode {:key :w}
    :search-mode {:key :e}
    :caps_lock-mode {:key :caps_lock}
    :window-mode {:key :f}
    :amethyst-mod1-mode {:key :a}
    :amethyst-mod2-mode {:key :s}
}
:main [
    ;; amethyst modes should be generated using amethyst-to-goku.js
    ;; with amethyst.json as source of truth

    {:des "amethyst mod1 mode"
      :rules [:amethyst-mod1-mode
       [:spacebar [:!OSspacebar]] ;; cycle-layout
       [:g [:!OSg]] ;; select-tall-layout
       [:x [:!OSx]] ;; select-wide-layout
       [:s [:!OSs]] ;; select-middle-wide-layout
       [:d [:!OSd]] ;; select-fullscreen-layout
       [:u [:!OSu]] ;; select-floating-layout
       [:f [:!OSf]] ;; select-column-layout
       [:2 [:!OS2]] ;; select-two-pane-layout
       [:p [:!OSp]] ;; focus-screen-ccw
       [:n [:!OSn]] ;; focus-screen-cw
       [:w [:!OSw]] ;; focus-screen-1
       [:e [:!OSe]] ;; focus-screen-2
       [:r [:!OSr]] ;; focus-screen-3
       [:q [:!OSq]] ;; focus-screen-4
       [:h [:!OSh]] ;; shrink-main
       [:l [:!OSl]] ;; expand-main
       [:comma [:!OScomma]] ;; increase-main
       [:period [:!OSperiod]] ;; decrease-main
       [:j [:!OSj]] ;; focus-ccw
       [:k [:!OSk]] ;; focus-cw
       [:m [:!OSm]] ;; focus-main
       [:return_or_enter [:!OSreturn_or_enter]] ;; swap-main
       [:t [:!OSt]] ;; toggle-float
       [:i [:!OSi]] ;; display-current-layout
       [:z [:!OSz]] ;; reevaluate-windows
     ]
    }

    {:des "amethyst mod2 mode"
      :rules [:amethyst-mod2-mode
       [:spacebar [:!OSTspacebar]] ;; cycle-layout-backward
       [:w [:!OSTw]] ;; throw-screen-1
       [:e [:!OSTe]] ;; throw-screen-2
       [:r [:!OSTr]] ;; throw-screen-3
       [:q [:!OSTq]] ;; throw-screen-4
       [:h [:!OSTh]] ;; swap-screen-ccw
       [:l [:!OSTl]] ;; swap-screen-cw
       [:j [:!OSTj]] ;; swap-ccw
       [:k [:!OSTk]] ;; swap-cw
       [:1 [:!OST1]] ;; throw-space-1
       [:2 [:!OST2]] ;; throw-space-2
       [:3 [:!OST3]] ;; throw-space-3
       [:4 [:!OST4]] ;; throw-space-4
       [:5 [:!OST5]] ;; throw-space-5
       [:6 [:!OST6]] ;; throw-space-6
       [:7 [:!OST7]] ;; throw-space-7
       [:8 [:!OST8]] ;; throw-space-8
       [:9 [:!OST9]] ;; throw-space-9
       [:0 [:!OST0]] ;; throw-space-10
       [:left_arrow [:!OSTleft_arrow]] ;; throw-space-left
       [:right_arrow [:!OSTright_arrow]] ;; throw-space-right
       [:t [:!OSTt]] ;; toggle-tiling
       [:x [:!OSTx]] ;; toggle-focus-follows-mouse
       [:z [:!OSTz]] ;; relaunch-amethyst
     ]
    }

    {:des "search mode"
      :rules [:search-mode
        [:f [:!CTOf]] ;; File Search
        [:m [:!CTOm]] ;; Search Menu Items
        [:b [:!CTOb]] ;; Search Browser Bookmarks
        [:n [:!CTOn]] ;; Search Snippets
        ;; [:j [:!CTOj]] ;; Search Issues (Jira)
        [:i [:!CTOi]] ;; Search Issues (Github)
        [:r [:!CTOr]] ;; Search Repositories (Github)
        [:g [:!CTOg]] ;; Search Google (via Script)
        ;; [:c [:!CTOc]] ;; Search Contacts
        ;; [:b [:raycast "S B B"]]
        ;; [:f [:raycast "F S"]]
        ;; [:m [:alfred "search menu bar" "com.folded-paper.menu-bar-search"]]
        ;; [:m [:raycast "S M I"]]
        ;; [:i [:alfred "search iterm sessions" "com.madvas.iterm-sessions"]]
        [:9 [:alfred "kill process" "com.ngreenstein.alfred-process-killer"]]
        [:q [:alfred "search quiver" "com.cook.quiver"]]
        [:p [:alfred "activate spot_mini" "com.vdesabou.spotify.mini.player"]]
        [:l [:!CSl]] ;; activate lastpass by keystroke
     ]
    }

    {:des "launcher mode"
      :rules [:launch-mode
        [:g [:launch "Google Chrome"]]
        [:f [:launch "Firefox Developer Edition"]]
        [:i [:launch "iTerm"]]
        [:v [:launch "Visual Studio Code"]]
        [:h [:launch "Slack"]]
        [:j [:launch "Safari"]]
        [:k [:launch "kitty"]]
        [:l [:launch "GoLand"]]
      ]
    }

    ;; vi mode with d key
    {:des "Vi Mode [D as Trigger Key]"
      :rules [:vi-mode
        [:##j :down_arrow]
        [:##k :up_arrow]
        [:##h :left_arrow]
        [:##l :right_arrow]
        [:##b :!Oleft_arrow]
        [:##w :!Oright_arrow]
        [:##a :!Ca]; highlight all
        [:##e :!Te]; go to end of line via ctrl-e
        [:##f :return_or_enter]
      ]
    }

    {:des "Window mode [F key as Trigger Key]",
         :rules [:window-mode
                 ;; all listening to hyper key ctrl-alt-cmd-shift
                 [:h :!!h]
                 [:j :!!j]
                 [:k :!!k]
                 [:l :!!l]
                 [:m :!!m]
                 [:b :!!b]
                 [:e :!!e]
                 ]}

    {:des "Caps mode",
         :rules [:caps_lock-mode
                 [:open_bracket :!TOopen_bracket]
                 [:close_bracket :!TOclose_bracket]
                 [:semicolon :!TOsemicolon]
                 [:quote :!TOquote]
                 [:comma :!TOcomma]
                 [:period :!TOperiod]
                 [:equal_sign :!TOequal_sign]
                 [:hyphen :!TOhyphen]
                 [:a :!Ta]; ctrl-a start of line
                 [:b :!Tb]; ctrl-b tmux mode
                 [:c :!TOc]
                 [:d :!TOd]
                 [:e :!Te]; ctrl-e end of line
                 [:f :!TOf]
                 [:g :!TOg]
                 [:i :!TOi]
                 [:h :left_arrow]
                 [:j :down_arrow]
                 [:k :up_arrow]
                 [:l :right_arrow]
                 [:m :!TOm]
                 [:n :!TOn]
                 [:o :!TOo]
                 [:p :!TOp]
                 [:q :!TOq]
                 [:r :!Tr]; redo in vi
                 [:s :!TOs]
                 [:t :!TOt]
                 [:u :!TOu]
                 [:v :!TOv]
                 [:w :!TOw]
                 [:x :!TOx]
                 [:y :!TOy]
                 [:z :!TOz]
                 [:1 :!TO1]
                 [:2 :!TO2]
                 [:3 :!TO3]
                 [:4 :!TO4]
                 [:5 :!TO5]
                 [:6 :!TO6]
                 [:7 :!TO7]
                 [:8 :!TO8]
                 [:9 :!TO9]
                 [:0 :!TO0]]}
]
}
