{
:templates {
    :launch "open -a '%s.app'"
    :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"
}
:simlayers {
    :vi-mode {:key :d}
    :launch-mode {:key :w}
    :search-mode {:key :s}
    :caps_lock-mode {:key :caps_lock}
    :window-mode {:key :f}
}
:main [
    ;{:des "caps_lock"
      ;:rules [[:##caps_lock :left_control nil {:alone :escape}]]
    ;}

    {:des "search mode"
      :rules [:search-mode
        [:k [:alfred "search km" "iansinnott.keyboardmaestro"]]
        [:m [:alfred "search menu bar" "com.folded-paper.menu-bar-search"]]
        [:i [:alfred "search iterm sessions" "com.madvas.iterm-sessions"]]
        [:9 [:alfred "kill process" "com.ngreenstein.alfred-process-killer"]]
        [:q [:alfred "search quiver" "com.cook.quiver"]]
        [:p [:alfred "activate spot_mini" "com.vdesabou.spotify.mini.player"]]
        [:l [:!CSl]] ;; activate lastpass by keystroke
     ]
    }

    {:des "launcher mode"
      :rules [:launch-mode
        [:g [:launch "Google Chrome"]]
        [:f [:launch "Firefox Developer Edition"]]
        [:i [:launch "iTerm"]]
        [:s [:launch "Slack"]]
        [:e [:launch "Microsoft Outlook"]]
        [:v [:launch "Visual Studio Code"]]
        [:j [:launch "intelliJ IDEA"]]
        [:k [:launch "Keyboard Maestro"]]
      ]
    }

    ;; vi mode with d key
    {:des "Vi Mode [D as Trigger Key]"
      :rules [:vi-mode
        [:##j :down_arrow]
        [:##k :up_arrow]
        [:##h :left_arrow]
        [:##l :right_arrow]
        [:##b :!Oleft_arrow]
        [:##w :!Oright_arrow]
        [:##a :!Ca]; highlight all
        [:##e :!Te]; go to end of line via ctrl-e
        [:##f :return_or_enter]
      ]
    }

    {:des "Window mode [F key as Trigger Key]",
         :rules [:window-mode
                 [:h :!!h]
                 [:j :!!j]
                 [:k :!!k]
                 [:l :!!l]
                 [:m :!!m]
                 ]}

    {:des "Caps mode",
         :rules [:caps_lock-mode
                 [:open_bracket :!TOopen_bracket]
                 [:close_bracket :!TOclose_bracket]
                 [:semicolon :!TOsemicolon]
                 [:quote :!TOquote]
                 [:comma :!TOcomma]
                 [:period :!TOperiod]
                 [:slash :!TOslash]
                 [:a :!Ta]; ctrl-a start of line
                 [:b :!TOb]
                 [:c :!TOc]
                 [:d :!TOd]
                 [:e :!Te]; ctrl-e end of line
                 [:f :!TOf]
                 [:g :!TOg]
                 [:h :!TOh]
                 [:i :!TOi]
                 [:j :!TOj]
                 [:k :!TOk]
                 [:l :!TOl]
                 [:m :!TOm]
                 [:n :!TOn]
                 [:o :!TOo]
                 [:p :!TOp]
                 [:q :!TOq]
                 [:r :!Tr]; redo in vi
                 [:s :!TOs]
                 [:t :!TOt]
                 [:u :!TOu]
                 [:v :!TOv]
                 [:w :!TOw]
                 [:x :!TOx]
                 [:y :!TOy]
                 [:z :!TOz]
                 [:1 :!TO1]
                 [:2 :!TO2]
                 [:3 :!TO3]
                 [:4 :!TO4]
                 [:5 :!TO5]
                 [:6 :!TO6]
                 [:7 :!TO7]
                 [:8 :!TO8]
                 [:9 :!TO9]
                 [:0 :!TO0]]}
]
}
